<script lang="ts" setup>
import { ref } from "vue";

const num = ref(0);
</script>

<template>
  <v-text-field
    clearable
    hide-details="auto"
    label="Please input Number"
    placeholder="0"
    type="number"
    v-model.number="num"
    :rules="[(v) => !!v || 'Number is not empty']"
  ></v-text-field>
  <v-container>
    <v-row
      ><v-col v-for="i in num" :key="i" cols="1"> {{ i }}</v-col></v-row
    >
  </v-container>
</template>
