<script lang="ts" setup>
import { ref } from "vue";
import angry from "../../feeling_imgs/angry.png";
import cute from "../../feeling_imgs/cute.png";
import excited from "../../feeling_imgs/excited.png";
import pain from "../../feeling_imgs/pain.png";
import shocked from "../../feeling_imgs/shocked.png";
import smile from "../../feeling_imgs/smile.png";
const face = ref("");
function onClick(n: string) {
  face.value = n;
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-img v-if="face === 'ANGRY'" :src="angry" height="500px"></v-img>
        <v-img v-if="face === 'CUTE'" :src="cute" height="500px"></v-img>
        <v-img v-if="face === 'EXCITED'" :src="excited" height="500px"></v-img>
        <v-img v-if="face === 'PAIN'" :src="pain" height="500px"></v-img>
        <v-img v-if="face === 'SHOCKED'" :src="shocked" height="500px"></v-img>
        <v-img v-if="face === 'SMILE'" :src="smile" height="500px"></v-img>
      </v-col>
      <v-col class="d-flex flex-column mb-6"
        ><p class="ma-2 text-center">{{ face }}</p>
        <v-btn
          class="ma-2 pa-2"
          @click="onClick('ANGRY')"
          :color="face === 'ANGRY' ? 'yellow' : ''"
          >ANGRY</v-btn
        >
        <v-btn
          class="ma-2 pa-2"
          @click="onClick('CUTE')"
          :color="face === 'CUTE' ? 'yellow' : ''"
          >CUTE</v-btn
        >
        <v-btn
          class="ma-2 pa-2"
          @click="onClick('EXCITED')"
          :color="face === 'EXCITED' ? 'yellow' : ''"
          >EXCITED</v-btn
        >
        <v-btn
          class="ma-2 pa-2"
          @click="onClick('PAIN')"
          :color="face === 'PAIN' ? 'yellow' : ''"
          >PAIN</v-btn
        >
        <v-btn
          class="ma-2 pa-2"
          @click="onClick('SHOCKED')"
          :color="face === 'SHOCKED' ? 'yellow' : ''"
          >SHOCKED</v-btn
        >
        <v-btn
          class="ma-2 pa-2"
          @click="onClick('SMILE')"
          :color="face === 'SMILE' ? 'yellow' : ''"
          >SMILE</v-btn
        ></v-col
      >
    </v-row>
  </v-container>
</template>

<style scoped>
.button {
  background-color: yellow;
}
</style>
